<div class="container">
  <div class="jumbotron mt-5">
    <a class="nav-link backbtnwidth" routerLink="/adminletter">Go to Letter page</a>
    <div class="col-sm-8 mx-auto">
      <h2 class="text-center">Letter Generating</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-12 col-12">
        <div class="blackborder row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-5 textposit">
            Einleitungsatz:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-2 nopadding text-center">
            <button id="firstbtnline1" (click)="sentence1()" class="btn selectbtn">1</button>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-2 nopadding text-center">
            <button id="firstbtnline2" (click)="sentence2()" class="btn">2</button>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-2 nopadding text-center">
            <button id="firstbtnline3" (click)="sentence3()" class="btn">3</button>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        </div>
        <div class="blackborder row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-5 textposit">
            Motivation:
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-2 nopadding text-center">
            <button id="secondbtnline1" (click)="motivation1()" class="btn selectbtn">1</button>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-2 nopadding text-center">
            <button id="secondbtnline2" (click)="motivation2()" class="btn">2</button>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-2 nopadding text-center">
            <button id="secondbtnline3" (click)="motivation3()" class="btn">3</button>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        </div>
        <button id="thirdbtnline1" (click)="events1()" class="btn menuchangebtn selectmenu">Fakten </button>
        <button id="thirdbtnline2" (click)="events2()" class="btn menuchangebtn">Ihre Textbausteine </button>
        <button id="thirdbtnline3" (click)="events3()" class="btn menuchangebtn">Neues Bild einfügen </button>
        <input type="file" id="my_file" style="display: none;" />
        <button id="thirdbtnline4" (click)="events4()" class="btn menuchangebtn">Anlagen  </button>

        <br/><br/>
        <div id="factid" class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h5>Fakten</h5>
            <input type="checkbox" (change)="totalincomefunc()" value="totalincomecheckbox" [(ngModel)]="totalincomecheckbox" class="padtext" /> Gesamteinkommen CHF0<br/>
            <input type="checkbox" (change)="nodebtfunc()" value="nodebtcheckbox" [(ngModel)]="nodebtcheckbox" class="padtext" /> Kine Betreibungen order Schulden<br/>
            <input type="checkbox" (change)="nopetsfunc()" value="nopetscheckbox" [(ngModel)]="nopetscheckbox" class="padtext" /> Keine Haustiere<br/>
            <input type="checkbox" (change)="nosmokerfunc()" value="nosmokercheckbox" [(ngModel)]="nosmokercheckbox" class="padtext" /> Nichtraucher<br/>
            <input type="checkbox" (change)="nochildrenfunc()" value="nochildrencheckbox" [(ngModel)]="nochildrencheckbox" class="padtext" /> Keine Kinder<br/>
            <input type="checkbox" (change)="nomusicalfunc()" value="nomusicalcheckbox" [(ngModel)]="nomusicalcheckbox" class="padtext" /> Keine Musikinstrumente und sehr ruhig<br/>
            <input type="checkbox" (change)="longtermfunc()" value="longtermcheckbox" [(ngModel)]="longtermcheckbox" class="padtext" /> Langjähriges Mietverhältnis<br/>
            <input type="checkbox" (change)="suretyfunc()" value="suretycheckbox" [(ngModel)]="suretycheckbox" class="padtext" /> Bürge/Solidarhafter bei Bedarf<br/>
            <input type="checkbox" (change)="goodreferencefunc()" value="goodreferencecheckbox" [(ngModel)]="goodreferencecheckbox" class="padtext" /> Gute Referenzen<br/><br/>
          </div>
        </div>
        <div id="referenceid" style="display: none" class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h5>Anlagen:</h5>
            <input type="checkbox" (change)="registerfunc()" value="registercheckbox" [(ngModel)]="registercheckbox" class="padtext" /> Anmeldeformular<br/>
            <input type="checkbox" (change)="referencefunc()" value="referencecheckbox" [(ngModel)]="referencecheckbox" class="padtext" /> Referenzprotokoll<br/>
            <input type="checkbox" (change)="payfunc()" value="paycheckbox" [(ngModel)]="paycheckbox" class="padtext" /> Lohnabrechnungen<br/>
            <input type="checkbox" (change)="collectionfunc()" value="collectioncheckbox" [(ngModel)]="collectioncheckbox" class="padtext" /> Betreibungsregisterauszug<br/>
            <input type="checkbox" (change)="copyfunc()" value="copycheckbox" [(ngModel)]="copycheckbox" class="padtext" /> Ausweiskopie<br/><br/>
          </div>
        </div>
        <div id="createtextid" style="display: none" class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h5>Text bausteine anlegen bzw. in den Text einfügen</h5>
            <p class="pflex">
              <label class="labeltop">
                <input name="createtext" class="padtext" type="radio" />
              </label>
              <input class="form-control" />
            </p>
            <p class="pflex">
              <label class="labeltop">
                <input name="createtext" class="padtext" type="radio" />
              </label>
              <input class="form-control" />
            </p>
            <p class="pflex">
              <label class="labeltop">
                <input name="createtext" class="padtext" type="radio" />
              </label>
              <input class="form-control" />
            </p>
            <p class="pflex">
              <label class="labeltop">
                <input name="createtext" class="padtext" type="radio" />
              </label>
              <input class="form-control" />
            </p>
            <p class="pflex">
              <label class="labeltop">
                <input name="createtext" class="padtext" type="radio" />
              </label>
              <input class="form-control" />
            </p>
            <p class="pflex">
              <label class="labeltop">
                <input name="createtext" class="padtext" type="radio" />
              </label>
              <input class="form-control" />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h5>Referenzen</h5>
            <input type="checkbox" (change)="adminfunc()" value="admincheckbox" [(ngModel)]="admincheckbox" class="padtext" />Verwaltung<br/>
            <input type="checkbox" (change)="socialfunc()" value="socialcheckbox" [(ngModel)]="socialcheckbox" class="padtext" />Beruf/Selbständig/Sozialhilfe<br/>
            <input type="checkbox" (change)="solidfunc()" value="solidcheckbox" [(ngModel)]="solidcheckbox" class="padtext" />Solidarhafter<br/>
            <input type="checkbox" (change)="tenantfunc()" value="tenantcheckbox" [(ngModel)]="tenantcheckbox" class="padtext" />Nachmieter24<br/>
          </div>
        </div><br/>
        <div class="row btncenter">
          <button id="downloadletterbtn" (click)="downloadfunc()" class="btn btn-info">Download Letter</button>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-12 col-12">
        <angular-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
      </div>
      <!-- <div class="html">
        {{ htmlContent }}
      </div> -->
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-9 col-md-6 col-sm-3"></div>
      <div class="col-lg-1 col-md-2 col-sm-3 col-4">
        <button id="createletterbtn" (click)="createfunc()" class="btn btn-success">Create</button>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-3 col-4">
        <button id="editletterbtn" (click)="savefunc()" class="btn btn-info">Save</button>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-3 col-4">
        <button id="deleteletterbtn" (click)="deletefunc()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
