<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (submit)="register()">
        <h1 class="h3 mb-3 font-weight-normal">Create user account</h1>
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control" name="first_name" placeholder="Enter first name" [(ngModel)]="credentials.first_name">
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" name="last_name" placeholder="Enter last name" [(ngModel)]="credentials.last_name">
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Create an account!</button>
        <a class="nav-link textcenter" routerLink="/consultantusermanage">Will not create an account?</a>
      </form>
    </div>
  </div>
</div>
